<h1>Mini blog</h1>

<%=render 'form' %>

<% @blogs.each do |blog| %>
  <h3>
    <%=blog.id %>:
    <%=link_to blog.body,blog%>
  </h3>
  <p>
    いいね:<%=blog.like %>
    コメント数:
    投稿日時:<%=blog.created_at %>
  </p>
<%end %>
