<h1>Mini blog</h1>

<%=render 'form' %>

<% @blogs.each do |blog| %>
  <h3>
    <%=blog.id %>:
    <%=link_to blog.body,blog%>
  </h3>
  <p>
    <%=link_to 'いいね:',blogs_like_path(blog_id: blog.id),remote:true %>
    <span id="like-count-<%=blog.id%>">
      <%=blog.like %> ｜
    </span>
    コメント数:<%=blog.replies.count %> ｜
    投稿日時:<%=blog.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
  </p>
<%end %>
